.wrapper {
  width: 100%;
}

.cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 20px;
  font-weight: bold;
  z-index: 2;
}

.imageContainer {
  display: flex;
  flex-direction: column;
  width: 210px;
}

.wrapper img {
  width: 200px;
  height: auto;
  margin: 5px;
  border-radius: 10px;
}

.container {
  width: 97%;
  overflow-x: hidden;
  margin: 0 auto;
  margin-top: 25px;
}
