.wrapper {
  text-align: right;
  user-select: none;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}
.wrapper > div {
  width: 200px;
  margin: 10px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.wrapper img {
  border-radius: 0.6rem;
  border-radius: 0.5rem;
  width: 100%;
  height: auto;
}

.container {
  width: 90%;
  overflow-x: hidden;
  margin: 0 auto;
  margin-top: 25px;
}
