.container {
  min-width: 375px;
  max-width: 480px;
  width: 100vw;
  margin: 0 auto;
  text-align: center;
}

.divider {
  width: 80%;
  height: 1px;
  background: lightgray;
  margin: 0 auto;
  margin-top: 50px;
}

.button {
  width: 333px;
  height: 36px;
  border-radius: 28px;
  border: 1px solid rgba(129, 122, 94, 0.3);
  background: #f5e3e2;
  margin-top: var(--margin-top);
  cursor: pointer;
  color: black;
}
