.text {
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text:first-of-type {
  margin-bottom: 25px;
}

.text svg {
  width: 15px;
  height: 15px;
}

.text b {
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
}

.text span {
  margin: 0 5px;
}

.container {
  margin-top: var(--margin-top);
}
