.container {
  margin: 0 auto;
  margin-top: var(--margin-top);
  width: 90%;
  height: 210px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container > div {
  width: 48%;
  border-radius: 0.5rem;
  height: 100%;
  background-size: 100;
}

.image {
  position: relative;
}

.image img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
