.block {
  display: flex;
  align-items: center;
  justify-content: center;
}

.line {
  height: 35px;
  width: 1px;
  background: black;
}

.container {
  margin: 0 auto;
  width: 70%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.25rem;
}

.container div {
  text-align: center;
}
