.info {
  text-align: left;
  font-size: 0.9rem;
}

.title {
  font-weight: bold;
  white-space: pre-line;
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  margin-top: 30px;
}

.icon {
  width: 25px;
  height: 25px;
  margin-right: 10px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.route {
  padding-left: 35px;
  margin-bottom: 5px;
  line-height: 1.5rem;
  display: flex;
  align-items: flex-start;
}

.route > div:first-child {
  margin-right: 5px;
}

.route > div:last-child {
  flex: 1;
  word-break: break-all;
  white-space: normal;
}

.routes {
  padding-left: 35px;
  margin-bottom: 5px;
  line-height: 1.5rem;
  white-space: pre-line;
}

.container {
  margin: 0 auto;
  margin-top: 80px;
  width: 90%;
  margin-bottom: var(--margin-top);
}
