.container {
  font-size: 0.8rem;
  width: 80%;
  margin: 0 auto;
  margin-top: 25px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
  font-family: "Lora", serif;
}

.dateValue {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 2;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dayName {
  color: #a4a4a4;
}
.empty {
  /* 빈 공간을 표현하기 위한 스타일 */
  visibility: hidden;
}

.date {
  /* 날짜를 표현하기 위한 스타일 */
  position: relative;
  height: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.container svg {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  fill: pink;
}
