.image {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 1;
}

.clipMask {
  width: 320px;
  height: 320px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 3;
}

.container {
  width: 320px;
  height: 320px;
  position: relative;
  margin: 0 auto;
  margin-top: 15px;
}

.container svg {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
}
